{% extends 'base.html' %}

{% block content %}
<div class="row">
    {% for book in books%}
    <div class="card-group col-sm-6 mt-2">
        <div class="card mb-3 border-primary" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="..." class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{book.name_book}}</h5>
                        <p class="card-text">{{book.short_description}}</p>
                        <p class="card-text">Жанры: {%for genry in book.genrys %} {{genry.genry}} {%endfor%}</p>
                        <p class="card-text"><small class="text-muted">Дата написания: {{book.year}}</small></p>
                        <p class="ms-auto rating">
                            <span>★</span> <span>{{book.score}}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {%endfor%}
</div>

{% endblock %}